<%= form_with(model: group_payment) do |form| %>
  <% if group_payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group_payment.errors.count, "error") %> prohibited this group_payment from being saved:</h2>

      <ul>
        <% group_payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :group_id, style: "display: block" %>
    <%= form.text_field :group_id %>
  </div>

  <div>
    <%= form.label :payment_id, style: "display: block" %>
    <%= form.text_field :payment_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
